@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@300;400&display=swap');

/* --=================================== Start of element customization ===================================-- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

footer {
  /* position: absolute; */
  bottom: 0;
}

img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
}

div.container {
  text-align: center;
  }
  
  ul.ulGameRules {
  display: inline-block;
  text-align: left;
  }
/* --=================================== End of element customization ===================================-- */

/* --=================================== Start of Cards ===================================-- */
.matching-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.matching-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.matching-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.matching-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  /* border-radius: 10px; */
  background: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
/* --=================================== End of Cards ===================================-- */

/* --=================================== Start of Created Class ===================================-- */
.barbieIcon {
  height: 50px;
  width: 50px;
}

.fontColor,
h1{
  color: rgb(207, 75, 207);
}

.welcomeFont{
  color: blueviolet;
}

.btn-info:hover{
  background-color: palevioletred;
  border-color: transparent;
}
/* --=================================== End of Created Class ===================================-- */

/* --=================================== Start of Sweet Alert2 ===================================-- */
.swal2-styled,
.swal2-confirm {
background-color:skyblue !important;
border-color: transparent;
}

.swal2-styled:hover, 
.footerColor {
background-color: palevioletred !important;
}

.swal2-title{
color: palevioletred !important;
}
/* --=================================== End of Sweet Alert2 ===================================-- */

